@import "colors.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: alpha(@background, 0.88);
  color: @on_surface;
}

button {
  border-radius: 15px;
  border-color: transparent;
	background-color: transparent;
	border-style: solid;
	border-width: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
  margin: 10px;
}

button:hover {
	background-color: @primary;
	outline-style: none;
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
  background-image: image(url("./icons/power-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));

}
#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
  background-image: image(url("./icons/restart-hover.png"));
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:hover {
  background-image: image(url("./icons/sleep-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
  background-image: image(url("./icons/hibernate-hover.png"));
}
